<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.chris.crawler.zhihu.dao.ZHAnswerDao">
    <insert id="insert" parameterType="com.chris.crawler.zhihu.model.ZHAnswer">
        INSERT INTO tb_crawler_zhihu_answer (uid, qid, aid, content, pub_date)
        VALUES (#{uid,jdbcType=INTEGER},
                #{qid,jdbcType=INTEGER},
                #{aid,jdbcType=INTEGER},
                #{content,jdbcType=CLOB},
                #{pubDate,jdbcType=TIMESTAMP})
    </insert>
</mapper>