<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.chris.crawler.yjs.ft.dao.FTJobURLDao">

    <resultMap id="ftJobURLResultMap" type="com.chris.crawler.yjs.ft.model.FTJobURL">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="md5sum" property="md5sum" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="recruit_type" property="recruitType" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertFTJobURL" parameterType="com.chris.crawler.yjs.ft.model.FTJobURL">
        INSERT INTO tb_yjs_app_url (status,md5sum,url,recruit_type)
        VALUES (#{status,jdbcType=INTEGER},
                #{md5sum,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR},
                #{recruitType,jdbcType=INTEGER}
                )
    </insert>

    <select id="exist" resultType="int" parameterType="java.lang.String">
        select count(id)  from  tb_yjs_app_url where md5sum=#{value, jdbcType=VARCHAR}
    </select>
</mapper>